body {
    background-color:#888;
}
.nav {
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    width: 90vw;
    margin: 0 auto;
}
.navLink{
    width:12vw;
    display:block;
    border:1px solid $gris-claro;
    background-color:$gris-oscuro;
    text-align: center;
    a, a:visited, a:hover {
        text-decoration:none;
        font-family:"Montserrat";
        font-weight:700;


    }
    a, a:visited {
        font-size: 2vw;
        color:$blanco;
        transition: ease 0.2s;
    }
    a:hover {
        font-size:2.2vw;
        color:$gris-claro;
    }
}
.home {
    display:flex;
    width: 90vw;
    margin: 0 auto;
    flex-direction:row;
}
.right-bar{
    display:flex;
    flex-direction:column;
    width:20vw;
}
.title-container{
    display:flex;
    flex-direction:column;
    background-color:#E6E7E8;
    height:20vw;
}
.contact-container{
    background-color: $gris-oscuro;
    flex-grow: 1;
}
.home-content{
    flex-grow: 1;
    background-color:$blanco;
}

//Aux classes
.right{
    display:block;
    text-align: right;
}